/*Adicionar as propriedades margin e padding no seletor universal(asterisco)*/
*{
  margin: 0;
  padding: 0;
}

 /*Iniciar Seção cabeçalho*/

.cabecalho{
  background-color: purple;
  color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.cabecalho-imagem{
  width: 8%;
  border-radius: 22px; /*para definir bordas arredondadas da imagem*/
}

/*A lista não ordenada ul precisa estar alinhada em uma única linha.
Crie um seletor para a classe .cabecalho-lista-item, adicionando nele
a propriedade display com o valor inline-block:*/
/*Aumente os espaçamentos entre os textos com a propriedade margin de valor 0 16px:*/
/*Aumente a fonte através da propriedade font-size de valor 24px.*/